<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="restaurant"></ion-icon> My Restaurants
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Sort By</ion-label>
            <ion-select
              [(ngModel)]="sortBy"
              multiple="false"
              class="sort-by-dropdown"
              (ionChange)="sort()"
            >
              <ion-select-option value="name">Name</ion-select-option>
              <ion-select-option value="rating">Rating</ion-select-option>
              <ion-select-option value="proximity">Proximity</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-segment [(ngModel)]="sortOrder" (click)="sort()">
            <ion-segment-button value="asc">
              <ion-icon name="arrow-up"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="desc">
              <ion-icon name="arrow-down"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <app-restaurant-list-item
            *ngFor="let restaurant of getRestaurants()"
            [restaurant]="restaurant"
          >
          </app-restaurant-list-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
