<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{pageTitle}} Restaurant </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-input
          type="text"
          id="name"
          placeholder="Restaurant Name"
          [(ngModel)]="restaurant.name"
        ></ion-input>
        <ion-input
          type="text"
          id="address"
          placeholder="Address"
          [(ngModel)]="restaurant.address.address"
        ></ion-input>
        <ion-row>
          <ion-col size="6">
            <ion-input
              type="text"
              id="city"
              placeholder="City"
              [(ngModel)]="restaurant.address.city"
            ></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input
              type="text"
              id="province"
              placeholder="Province/State"
              [(ngModel)]="restaurant.address.province"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-input
              type="text"
              id="country"
              placeholder="Country"
              [(ngModel)]="restaurant.address.country"
            ></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input
              type="text"
              id="postal"
              placeholder="Postal/Zip Code"
              [(ngModel)]="restaurant.address.postal"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-input
              type="tel"
              id="phone"
              placeholder="Phone"
              [(ngModel)]="restaurant.phone"
            ></ion-input>
          </ion-col>
          <ion-col size="6">
            <ionic-rating-component
              #rating
              id="rating"
              activeIcon="star"
              defaultIcon="star-outline"
              halfIcon="star-half"
              halfStar="true"
              activeColor="#dbb04a"
              defaultColor="#dbb04a"
              readonly="false"
              rating="0"
              fontSize="20px"
              [(ngModel)]="restaurant.rating"
              (ratingChanged)="onRatingChange($event)"
            >
            </ionic-rating-component>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label>Tags</ion-label>
          <ion-select
            multiple="true"
            id="tags"
            placeholder="Select Tags"
            [(ngModel)]="restaurant.tags"
          >
            <ion-select-option value="1">Japanese</ion-select-option>
            <ion-select-option value="2">Mexican</ion-select-option>
            <ion-select-option value="3">Grill</ion-select-option>
            <ion-select-option value="4">Vegetarian</ion-select-option>
            <ion-select-option value="5">Chinese</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Notes</ion-label>
          <ion-textarea
            id="notes"
            rows="8"
            [(ngModel)]="restaurant.notes"
          ></ion-textarea>
        </ion-item>
        <ion-button
          expand="block"
          fill="solid"
          shape="round"
          (click)="onSave()"
        >
          <ion-icon slot="start" name="save"></ion-icon> Save
        </ion-button>
        <ion-button
          *ngIf="!isAdd"
          expand="block"
          color="danger"
          fill="solid"
          shape="round"
          (click)="onDelete()"
        >
          <ion-icon slot="start" name="trash"></ion-icon> Delete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
