<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{pageTitle}} Restaurant </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-input
          type="text"
          id="name"
          required
          (focusout)="validate('name')"
          placeholder="Restaurant Name"
          [(ngModel)]="restaurant.name"
          name="name"
        ></ion-input>
        <ion-text color="danger" *ngIf="validation.name">
          Restaurant Name is required!
        </ion-text>
        <ion-input
          type="text"
          id="street"
          required
          (focusout)="validate('street')"
          minlength="1"
          placeholder="Street Address"
          [(ngModel)]="restaurant.address.street"
          name="address.street"
        ></ion-input>
        <ion-text color="danger" *ngIf="validation.street">
          Street Address is required!
        </ion-text>
        <ion-row>
          <ion-col size="6">
            <ion-input
              type="text"
              id="city"
              required
              (focusout)="validate('city')"
              minlength="1"
              placeholder="City"
              [(ngModel)]="restaurant.address.city"
              name="address.city"
            ></ion-input>
            <ion-text color="danger" *ngIf="validation.city">
              City is required!
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-input
              type="text"
              id="province"
              required
              (focusout)="validate('province')"
              minlength="1"
              placeholder="Province/State"
              [(ngModel)]="restaurant.address.province"
              name="address.province"
            ></ion-input>
            <ion-text color="danger" *ngIf="validation.province">
              Province/State is required!
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-input
              type="text"
              id="country"
              placeholder="Country"
              [(ngModel)]="restaurant.address.country"
              name="address.country"
            ></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input
              type="text"
              id="postal"
              placeholder="Postal/Zip Code"
              [(ngModel)]="restaurant.address.postal"
              name="address.postal"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-input
              type="tel"
              id="phone"
              placeholder="Phone"
              [(ngModel)]="restaurant.phone"
              name="phone"
            ></ion-input>
          </ion-col>
          <ion-col size="6">
            <ionic-rating-component
              #rating
              id="rating"
              activeIcon="star"
              defaultIcon="star-outline"
              halfIcon="star-half"
              halfStar="true"
              activeColor="#dbb04a"
              defaultColor="#dbb04a"
              readonly="false"
              rating=""
              fontSize="20px"
              [(ngModel)]="restaurant.rating"
              name="rating"
              (ratingChanged)="onRatingChange($event)"
            >
            </ionic-rating-component>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label>Tags</ion-label>
          <ion-select
            multiple="true"
            id="tags"
            placeholder="Select Tags"
            [(ngModel)]="restaurant.tags"
            name="tags"
          >
            <ion-select-option *ngFor="let tag of tags" [value]="tag.id"
              >{{tag.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Notes</ion-label>
          <ion-textarea
            id="notes"
            rows="8"
            [(ngModel)]="restaurant.notes"
            name="notes"
          ></ion-textarea>
        </ion-item>
        <ion-button
          expand="block"
          fill="solid"
          shape="round"
          [disabled]="isValid()"
          (click)="onSave()"
        >
          <ion-icon slot="start" name="save"></ion-icon> Save
        </ion-button>
        <ion-button
          *ngIf="!isAdd"
          expand="block"
          color="danger"
          fill="solid"
          shape="round"
          (click)="onDelete()"
        >
          <ion-icon slot="start" name="trash"></ion-icon> Delete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
