ionic-rating-component {
  margin-top: -30px;
  position: absolute;
  right: 0px;
}
ion-row {
  width: 100%;
}
ion-item h2 {
  font-weight: 600;
  margin: 0 auto;
  font-size: large;
  min-height: 52px;
}

ion-item h2:focus {
  outline: none;
}
