<ion-item *ngIf="restaurant" [detail]="false">
  <ion-label class="ion-text-wrap">
    <h2 [routerLink]="'/restaurant/' + restaurant.name">
      {{ restaurant.name }}
    </h2>
    <ionic-rating-component
      #rating
      activeIcon="star"
      defaultIcon="star-outline"
      halfIcon="star-half"
      halfStar="true"
      activeColor="#dbb04a"
      defaultColor="#dbb04a"
      readonly="false"
      rating="{{ restaurant.rating }}"
      fontSize="20px"
      (ratingChanged)="onRatingChange($event)"
    >
    </ionic-rating-component>
  </ion-label>
</ion-item>
