<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        [routerLink]="['/tabs/restaurant-list']"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons
      slot="primary"
      [routerLink]="['/tabs/add-restaurant', restaurant.id]"
    >
      <ion-icon slot="icons-only" name="create">Edit</ion-icon>
    </ion-buttons>

    <ion-title>{{ restaurant.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="restaurant">
  <div class="ion-padding">
    <ionic-rating-component
      #rating
      activeIcon="star"
      defaultIcon="star-outline"
      halfIcon="star-half"
      halfStar="true"
      activeColor="#dbb04a"
      defaultColor="#dbb04a"
      readonly="false"
      rating="{{ restaurant.rating }}"
      fontSize="20px"
      (ratingChanged)="onRatingChange($event)"
    ></ionic-rating-component>
  </div>
  <map-partial> </map-partial>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Tags</ion-label>
          <ion-select
            [(ngModel)]="restaurant.tags"
            multiple="true"
            placeholder="Select Tags"
          >
            <ion-select-option *ngFor="let tag of tags" [value]="tag.id"
              >{{tag.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        <ion-row>
          <ion-col size="4"> Address: </ion-col>
          <ion-col size="8">
            {{restaurant.address.street}}<br />
            {{restaurant.address.city}}, {{restaurant.address.province}}
            {{restaurant.address.postal}}
            <br *ngIf="!!restaurant.address.country" />
            {{restaurant.address.country}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!!restaurant.phone">
          <ion-col size="4"> Phone: </ion-col>
          <ion-col size="8"
            >({{restaurant.phone |slice:0:3}}) {{restaurant.phone
            |slice:3:6}}-{{restaurant.phone |slice:6:10}}</ion-col
          >
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-col size="6" *ngIf="!!restaurant.phone">
          <ion-button (click)="callPlace(restaurant.phone)" shape="round">
            <ion-icon name="call"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button
            *ngIf="restaurant"
            shape="round"
            [routerLink]="'/restaurant/' + restaurant.name + '/mapfs'"
          >
            <ion-icon name="locate-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h4>Notes:</h4>
        {{restaurant.notes}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab
    horizontal="end"
    vertical="bottom"
    slot="fixed"
    *ngIf="isSocialSharingAvailable"
  >
    <ion-fab-button color="danger">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button
        color="primary"
        *ngIf="isFacebookSharingAvailable"
        (click)="shareThis('facebook',restaurant.name,restaurant.address.street,restaurant.address.city,restaurant.address.province,restaurant.address.postal,restaurant.notes)"
      >
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        color="secondary"
        *ngIf="isTwitterSharingAvailable"
        (click)="shareThis('twitter',restaurant.name,restaurant.address.street,restaurant.address.city,restaurant.address.province,restaurant.address.postal,restaurant.notes)"
        ><ion-icon name="logo-twitter"></ion-icon
      ></ion-fab-button>
      <ion-fab-button
        *ngIf="isEmailSharingAvailable"
        (click)="shareThis('email',restaurant.name,restaurant.address.street,restaurant.address.city,restaurant.address.province,restaurant.address.postal,restaurant.notes)"
        ><ion-icon name="mail"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
